@model IEnumerable<SubjectsViewModel>

<div class="nav-container d-flex justify-content-between">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" data-target="grades" href="#">
                <i class="fa-solid fa-pencil text-dark"></i> Оценки
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-target="absences" href="#">
                <i class="fa-solid fa-calendar-xmark text-dark"></i> Отсъствия
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-target="remarks" href="#">
                <i class="fa-solid fa-clipboard text-dark"></i> Забележки
            </a>
        </li>
    </ul>
    <div class="AddGrade" id="addGradeButton" style="display: none;">
        <form asp-controller="Diary" asp-action="AddGrades" method="get">
            <input type="hidden" name="classId" id="hiddenClassIdForGrade" />
            <input type="hidden" name="subjectId" id="hiddenSubjectIdForGrade" />
            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i> Добави Оценка
            </button>
        </form>
    </div>
    <div class="AddAbsence" id="addAbsenceButton" style="display: none;">
        <form asp-controller="Diary" asp-action="AddAbsence" method="get">
            <input type="hidden" name="classId" id="hiddenClassIdForAbsence" />
            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i> Добави Отсъствие
            </button>
        </form>
    </div>
    <div class="AddRemark" id="addRemarkButton" style="display: none;">
        <form asp-controller="Diary" asp-action="AddRemark" method="get">
            <input type="hidden" name="classId" id="hiddenClassIdForRemark" />
            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i> Добави Забележка
            </button>
        </form>
    </div>
</div>
<div class="row">
    <!-- Колона с вертикални бутони -->
    <div class="col-lg-2 sidebar-buttons mt-3 px-0" id="subjectsSidebar">
        <div class="list-group" id="list-tab" role="tablist">
            @foreach (var student in Model)
            {
                <a class="list-group-item list-group-item-action" id="@student.Id" data-bs-toggle="list" href="#list-@student.Id" role="tab" aria-controls="list-@student.Id">
                    @student.SubjectName
                </a>
            }
        </div>
    </div>
    <!-- Основно съдържание, което е уголемено -->
    <div id="mainContentContainer" class="col-lg-10 d-flex">
        <div id="main-content" class="card shadow-sm p-0 w-100 mt-4">
            <!-- Съдържание -->
        </div>
    </div>
</div>
