@model IEnumerable<SubjectsViewModel>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" data-target="grades" href="#">
            <span class="icon">✏️</span> Оценки
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-target="absences" href="#">
            <span class="icon">📅</span> Отсъствия
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-target="remarks" href="#">
            <span class="icon">📋</span> Забележки
        </a>
    </li>
</ul>

<div class="row">
    <!-- Колона с вертикални бутони -->
    <div class="col-lg-2 sidebar-buttons mt-3 px-0" id="subjectsSidebar">
        <div class="list-group" id="list-tab" role="tablist">
            @foreach (var student in Model)
            {
                <a class="list-group-item list-group-item-action" id="@student.Id" data-bs-toggle="list" href="#list-@student.Id" role="tab" aria-controls="list-@student.Id">
                    @student.SubjectName
                </a>
            }
        </div>
    </div>
    <!-- Основно съдържание, което е уголемено -->
    <div id="mainContentContainer" class="col-lg-10 d-flex">
        <div id="main-content" class="card shadow-sm p-0 w-100 mt-4">
            <!-- Съдържание -->
        </div>
    </div>
</div>
