<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">
            <span class="icon">✏️</span> Оценки
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <span class="icon">📅</span> Отсъствия
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <span class="icon">📋</span> Забележки
        </a>
    </li>
</ul>

<div class="row">
    <!-- Колона с вертикални бутони -->
    <div class="col-lg-2 sidebar-buttons mt-3 px-0">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-student1-list" data-bs-toggle="list" href="#list-student1" role="tab" aria-controls="list-student1">
                Student 1
            </a>
            <a class="list-group-item list-group-item-action" id="list-student2-list" data-bs-toggle="list" href="#list-student2" role="tab" aria-controls="list-student2">
                Student 2
            </a>
            <a class="list-group-item list-group-item-action" id="list-student3-list" data-bs-toggle="list" href="#list-student3" role="tab" aria-controls="list-student3">
                Student 3
            </a>
        </div>
    </div>
    <!-- Основно съдържание, което е уголемено -->
    <div class="col-lg-10 d-flex">
        <div id="main-content" class="card shadow-sm p-4 w-100 mt-4">
            <h2>Основно съдържание</h2>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-student1" role="tabpanel" aria-labelledby="list-student1-list">
                    <p>Съдържание за Student 1</p>
                </div>
                <div class="tab-pane fade" id="list-student2" role="tabpanel" aria-labelledby="list-student2-list">
                    <p>Съдържание за Student 2</p>
                </div>
                <div class="tab-pane fade" id="list-student3" role="tabpanel" aria-labelledby="list-student3-list">
                    <p>Съдържание за Student 3</p>
                </div>
            </div>
        </div>
    </div>
</div>
<p>Моля, изберете клас от менюто, за да заредите съдържанието.</p>
