@model IEnumerable<SubjectsViewModel>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">
            <span class="icon">✏️</span> Оценки
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <span class="icon">📅</span> Отсъствия
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <span class="icon">📋</span> Забележки
        </a>
    </li>
</ul>

<div class="row">
    <!-- Колона с вертикални бутони -->
    <div class="col-lg-2 sidebar-buttons mt-3 px-0">
        <div class="list-group" id="list-tab" role="tablist">
            @foreach (var student in Model)
            {
                <a class="list-group-item list-group-item-action" id="@student.Id" data-bs-toggle="list" href="#list-@student.Id" role="tab" aria-controls="list-@student.Id">
                    @student.SubjectName
                </a>
            }
        </div>
    </div>
    <!-- Основно съдържание, което е уголемено -->
    <div class="col-lg-10 d-flex">
        <div id="main-content2" class="card shadow-sm p-0 w-100 mt-4">
            <!-- Тук искам да се зареди partial view GradesView - то -->
        </div>
    </div>
</div>
