@{
    ViewData["Title"] = "Страницата не е намерена";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-2 d-flex align-items-center">
            <i class="fa fa-angle-double-left fa-4x me-3 text-secondary"></i>
        </div>
        <div class="col-md-6 text-center">
            <div class="mb-4">
                <div class="mb-4">
                    <svg viewBox="0 0 375 375" width="200" height="200" preserveAspectRatio="xMidYMid meet">
                        <path d="M 317.941406 95.40625 L 317.941406 236.054688 C 317.941406 255.257812 302.367188 270.828125 283.164062 270.828125 L 215.394531 270.828125 L 193.371094 301.96875 L 171.351562 270.828125 L 103.582031 270.828125 C 84.375 270.828125 68.804688 255.257812 68.804688 236.054688 L 68.804688 95.40625 C 68.804688 76.199219 84.375 60.628906 103.582031 60.628906 L 283.164062 60.628906 C 302.367188 60.628906 317.941406 76.199219 317.941406 95.40625 Z"
                              fill="#6e7889" />

                        <g transform-origin="193 165">
                            <animateTransform attributeName="transform"
                                              type="rotate"
                                              values="-10;10;-8;8;-5;5;-3;3;0"
                                              dur="2s"
                                              repeatCount="3" />
                            <path d="M 208.945312 224.117188 C 208.945312 225.140625 208.84375 226.152344 208.644531 227.15625 C 208.445312 228.160156 208.148438 229.132812 207.757812 230.078125 C 207.367188 231.023438 206.886719 231.917969 206.320312 232.769531 C 205.75 233.621094 205.105469 234.40625 204.382812 235.128906 C 203.660156 235.851562 202.875 236.496094 202.023438 237.066406 C 201.171875 237.632812 200.277344 238.113281 199.332031 238.503906 C 198.386719 238.894531 197.414062 239.191406 196.410156 239.390625 C 195.40625 239.589844 194.394531 239.6875 193.371094 239.6875 C 192.351562 239.6875 191.335938 239.589844 190.335938 239.390625 C 189.332031 239.191406 188.359375 238.894531 187.414062 238.503906 C 186.46875 238.113281 185.570312 237.632812 184.722656 237.066406 C 183.871094 236.496094 183.085938 235.851562 182.363281 235.128906 C 181.640625 234.40625 180.992188 233.621094 180.425781 232.769531 C 179.859375 231.917969 179.378906 231.023438 178.988281 230.078125 C 178.59375 229.132812 178.300781 228.160156 178.101562 227.15625 C 177.902344 226.152344 177.800781 225.140625 177.800781 224.117188 C 177.800781 223.097656 177.902344 222.082031 178.101562 221.082031 C 178.300781 220.078125 178.59375 219.105469 178.988281 218.160156 C 179.378906 217.214844 179.859375 216.320312 180.425781 215.46875 C 180.992188 214.617188 181.640625 213.832031 182.363281 213.109375 C 183.085938 212.386719 183.871094 211.742188 184.722656 211.171875 C 185.570312 210.605469 186.46875 210.125 187.414062 209.734375 C 188.359375 209.34375 189.332031 209.046875 190.335938 208.847656
                                C 191.335938 208.648438 192.351562 208.546875 193.371094 208.546875 C 194.394531 208.546875 195.40625 208.648438 196.410156 208.847656 C 197.414062 209.046875 198.386719 209.34375 199.332031 209.734375 C 200.277344 210.125 201.171875 210.605469 202.023438 211.171875 C 202.875 211.742188 203.660156 212.386719 204.382812 213.109375 C 205.105469 213.832031 205.75 214.617188 206.320312 215.46875 C 206.886719 216.320312 207.367188 217.214844 207.757812 218.160156 C 208.148438 219.105469 208.445312 220.078125 208.644531 221.082031 C 208.84375 222.082031 208.945312 223.097656 208.945312 224.117188 Z"
                                  fill="#fd6c6f" />
                            <path d="M 208.945312 107.339844 L 208.945312 177.78125 C 208.945312 186.382812 201.972656 193.351562 193.371094 193.351562
                                C 184.773438 193.351562 177.800781 186.382812 177.800781 177.78125 L 177.800781 107.339844 C 177.800781 98.742188 184.773438 91.769531 193.371094 91.769531 C 201.96875 91.769531 208.945312 98.746094 208.945312 107.339844 Z"
                                  fill="#fd6c6f" />
                        </g>
                        <path d="M 187.015625 306.464844 L 167.320312 278.613281 L 103.582031 278.613281 C 80.113281 278.613281 61.019531 259.523438 61.019531 236.054688 L 61.019531 95.40625 C 61.019531 71.9375 80.113281 52.84375 103.582031 52.84375 L 283.164062 52.84375 C 306.632812 52.84375 325.726562 71.9375 325.726562 95.40625 L 325.726562 236.054688 C 325.726562 259.523438 306.632812 278.613281 283.164062 278.613281 L 219.421875 278.613281 L 199.730469 306.464844 C 196.632812 310.84375 190.121094 310.855469 187.015625 306.464844 Z M 103.582031 68.414062
                                C 88.699219 68.414062 76.589844 80.523438 76.589844 95.40625 L 76.589844 236.054688 C 76.589844 250.9375 88.699219 263.042969 103.582031 263.042969 L 171.351562 263.042969 C 173.878906 263.042969 176.25 264.273438 177.707031 266.335938 L 193.371094 288.488281 L 209.035156 266.335938 C 210.496094 264.273438 212.867188 263.042969 215.394531 263.042969 L 283.164062 263.042969 C 298.046875 263.042969 310.152344 250.9375 310.152344 236.054688 L 310.152344 95.40625 C 310.152344 80.523438 298.046875 68.414062 283.164062 68.414062 Z"
                              fill="#525a67" />

                    </svg>
                </div>
                <h1 class="display-1 fw-bold">404</h1>
                <h2 class="h3 mb-4">Страницата не е намерена</h2>
                <p class="text-muted mb-4">
                    Съжаляваме, но страницата която търсите не съществува или е преместена.
                </p>
            </div>
            <div>
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
                    <i class="fas fa-home me-2"></i>Към начална страница
                </a>
                <a href="javascript:history.back()" class="btn btn-outline-secondary">
                    <i class="fas fa-arrow-left me-2"></i>Назад
                </a>
            </div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-end">
            <i class="fa fa-angle-double-right fa-4x ms-3 text-secondary"></i>
        </div>
    </div>
</div>