@{
    ViewData["Title"] = "Вътрешна грешка";
}

<div class="container mt-1">
    <div class="row justify-content-center">
        <div class="col-2 d-flex align-items-center">
            <i class="fa fa-angle-double-left fa-4x me-3 text-secondary"></i>
        </div>
        <div class="col-md-6 text-center">
            <svg viewBox="0 0 375 375" width="375" height="375">
                <path d="M 214.804688 197.714844 L 224.160156 179.773438 L 209.769531 165.378906 L 191.78125 174.769531 C 186.191406 171.414062 180.070312 168.851562 173.570312 167.234375 L 167.484375 147.867188 L 147.136719 147.867188 L 141.050781 167.234375 C 134.558594 168.851562 128.433594 171.414062 122.84375 174.769531 L 104.851562 165.378906 L 90.464844 179.773438 L 99.824219 197.710938 C 96.429688 203.328125 93.839844 209.480469 92.203125 216.011719 L 72.949219 222.0625 L 72.949219 242.414062 L 92.125 248.445312 C 93.746094 255.039062 96.335938 261.25 99.742188 266.917969 L 90.460938 284.707031 L 104.851562 299.097656 L 122.582031 289.84375 C 128.273438 293.292969 134.511719 295.914062 141.140625 297.550781 L 147.132812 316.617188 L 167.480469 316.617188 L 173.472656 297.550781 C 180.101562 295.914062 186.339844 293.292969 192.03125 289.84375 L 209.761719 299.097656 L 224.152344 284.707031 L 214.875 266.917969 C 218.28125 261.25 220.871094 255.039062 222.488281 248.445312 L 241.664062 242.414062 L 241.664062 222.0625 L 222.414062 216.011719 C 220.785156 209.480469 218.195312 203.328125 214.804688 197.714844"
                      fill="#6c757d">
                    <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 157 232" to="360 157 232" dur="10s" repeatCount="indefinite" />
                </path>
                <path d="M 153.945312 119.164062 L 145.265625 129.046875 L 152.191406 140.453125 L 164.925781 137.320312 C 168.011719 140.398438 171.582031 143.039062 175.546875 145.117188 L 176.398438 158.191406 L 189.355469 161.355469 L 196.136719 150.148438 C 200.617188 150.132812 204.996094 149.433594 209.15625 148.128906 L 219.007812 156.78125 L 230.414062 149.855469 L 227.273438 137.085938 C 230.320312 134.003906 232.9375 130.453125 234.996094 126.503906 L 248.148438 125.648438 L 251.3125 112.6875 L 239.996094 105.835938 C 239.96875 101.421875 239.277344 97.101562 237.988281 92.996094 L 246.738281 83.027344 L 239.816406 71.621094 L 226.898438 74.800781 C 223.859375 71.792969 220.359375 69.207031 216.472656 67.167969 L 215.609375 53.882812 L 202.652344 50.714844 L 195.757812 62.105469 C 191.371094 62.125 187.074219 62.804688 182.992188 64.070312 L 172.996094 55.289062 L 161.589844 62.21875 L 164.765625 75.097656 C 161.726562 78.144531 159.121094 81.660156 157.0625 85.566406 L 143.859375 86.425781 L 140.695312 99.386719 L 151.972656 106.210938 C 151.976562 110.667969 152.65625 115.023438 153.945312 119.164062"
                      fill="#495057">
                    <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="360 196 106" to="0 196 106" dur="10s" repeatCount="indefinite" />
                </path>
            </svg>
            <div class="mb-4">
                <h1 class="display-1 fw-bold">500</h1>
                <h2 class="h3 mb-4">Вътрешна грешка в сървъра</h2>
                <p class="text-muted mb-4">Възникна неочаквана грешка. Моля, опитайте отново по-късно или се свържете с администратор.</p>
            </div>
            <div>
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
                    <i class="fas fa-home me-2"></i>Към начална страница
                </a>
                <a href="javascript:history.back()" class="btn btn-outline-secondary">
                    <i class="fas fa-arrow-left me-2"></i>Назад
                </a>
            </div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-end">
            <i class="fa fa-angle-double-right fa-4x ms-3 text-secondary"></i>
        </div>
    </div>
</div>