<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] СГСАГ</title>
    <link rel="icon" type="image/png" href="~/logo.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SchoolApp.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/FontAwesome/all.min.css">
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm custom-navbar box-shadow mb-0">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/logo.png" alt="School Logo" height="25" class="me-2">СГСАГ
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        @if (User?.Identity?.IsAuthenticated == true && (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.IsInRole("Parent")))
                        {
                            <li class="nav-item">
                                <a id="diaryLink" class="nav-link" asp-area="" asp-controller="Diary" asp-action="Index">Електронен дневник</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a id="teamLink" class="nav-link" asp-area="" asp-controller="Team" asp-action="Index">Екип</a>
                        </li>
                        <li class="nav-item">
                            <a id="teamLink" class="nav-link" asp-area="" asp-controller="Gallery" asp-action="Index">Галерия</a>
                        </li>
                        @if (User?.Identity?.IsAuthenticated == true && (User.IsInRole("Admin")))
                        {
                            <li class="nav-item">
                                <a id="adminLink" class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Админ Панел</a>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" asp-area="" asp-controller="News" asp-action="Index" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Новини
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item py-2 px-4" asp-area="" asp-controller="News" asp-action="Index">Всички новини</a></li>
                                @if (User?.Identity?.IsAuthenticated == true && (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.IsInRole("Parent")))
                                {
                                    <li><a class="dropdown-item py-2 px-4" asp-area="" asp-controller="News" asp-action="ImportantMessages">Важни съобщения</a></li>
                                }
                                <li><a class="dropdown-item py-2 px-4" asp-area="" asp-controller="News" asp-action="Achievements">Успехи на ученици</a></li>
                            </ul>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3 main">
            @RenderBody()
        </main>
    </div>

    <footer class="custom-footer">
        <div class="container-fluid">
            &copy; 2024 - SchoolApp.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @if (TempData["SuccessMessage"] != null)
    {
        <script defer>
            message.showSuccess('@TempData["SuccessMessage"]');
        </script>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <script defer>
            message.showError('@TempData["ErrorMessage"]');
        </script>
    }
</body>
</html>

