@{
    ViewData["Title"] = "История";
}

@section Styles {
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
}

<div class="container py-5">
    <div class="text-center mb-5" data-aos="fade-up">
        <h1 class="text-uppercase fw-bold mb-3">История на СГСАГ "Христо Ботев"</h1>
        <div class="mx-auto" style="width: 60%; height: 2px; background-color: #E64833;"></div>
    </div>
    <div class="row">
        <div class="col-md-6" data-aos="fade-right">
            <img src="~/img/History_SGCAG.jpg" class="img-fluid rounded shadow-lg mb-4" alt="История на СГСАГ">
        </div>
        <div class="col-md-6" data-aos="fade-left">
            <h3 class="mb-4">Основаване и развитие</h3>
            <p class="mb-4">
                Софийската гимназия по строителство, архитектура и геодезия "Христо Ботев" е първото и най-авторитетно учебно заведение в нашата страна за подготовка на специалисти със средно образование в областта на строителството, архитектурата, геодезията и парковото строителство. За над сто годишната ѝ история през нейните класни стаи са минали хиляди млади хора, съградили с любов и професионализъм домовете, пътищата, мостовете, заводите, язовирите на България.
            </p>
            <p class="mb-4">
                Неговата популярност и значимост непрекъснато нараства, защото професията на строителя е търсена и високо ценена. Училището е основано с царски указ за просвещението от 1909 година като клон на Първа мъжка гимназия, но много скоро след това се обособява като самостоятелно учебно заведение.
            </p>
            <div class="mb-6">
                <div class="mb-3">
                    <h5>1909</h5>
                    <p>Основаване на училището с царски указ за просвещението</p>
                </div>
                <div class="mb-3">
                    <h5>1913/1914</h5>
                    <p>Първи випуск - 30 техници (21 строители и 9 земемери)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5" data-aos="fade-up">
        <div class="col-12">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h3 class="text-center mb-4">Традиции и развитие</h3>
                    <p>СГСАГ "Христо Ботев" е училище с традиции. Да си ученик в него е привилегия и отговорност. Нашите ученици, заедно със своите учители, се гордеят с миналото на гимназията и приноса ѝ за изграждането на страната ни, но тяхната голяма амбиция е да построят училище на бъдещето. Неговите основи вече са положени. Гимназията участва в образователни програми и проекти по европейските програми.</p>
                    <p>В основата на представата ни за училище на бъдещето е разбирането, че в него ученикът е най-важен и той трябва да се чувства добре. Софийската гимназия по строителство, архитектура и геодезия "Христо Ботев" осигурява тази желана атмосфера на любов и доверие между ученици и учители. Тук ще срещнете обич и внимание към всеки ученик, грижа и отговорност за неговото възпитание и бъдеще.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 align-items-center" data-aos="fade-up">
        <div class="col-md-4 text-center">
            <img src="~/img/Hristo-Botev.jpg" class="img-fluid rounded shadow mb-4" style="max-width: 300px;">
            <div class="text-center mt-2">
                <img src="~/img/signature_Botev.jpg" style="max-width: 300px;">
            </div>
        </div>
        <div class="col-md-8">
            <h3 class="mb-4">Историческа сграда</h3>
            <img src="~/img/Building-1935г.jpg" class="img-fluid rounded shadow-lg mb-4" alt="Сградата през 1935г.">
            <p>От 1930 г. Държавно средно техническо училище Цар Борис III се помещава в сегашната си сграда в град София, бул. Евлоги Георгиев № 34. Музейната експозиция в училището е открита през учебната 1964-1965 година, когато броят на учениците в гимназията е бил 1161. През учебната 1949-1950 година училището достига рекорден брой от 1622 ученици.</p>
        </div>
    </div>
    <div class="row mt-5" data-aos="fade-up">
        <div class="col-12">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h3 class="mb-4">Интересни факти</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li class="mb-3">
                                    <i class="fas fa-check-circle text-secondary me-2"></i>
                                    Първият директор е д-р Герчо Марковски
                                </li>
                                <li class="mb-3">
                                    <i class="fas fa-check-circle text-secondary me-2"></i>
                                    Директорът с най-дълъг стаж е Антон Антонов – 19 години начело на гимназията
                                </li>
                                <li class="mb-3">
                                    <i class="fas fa-check-circle text-secondary me-2"></i>
                                    През декември 1944 г. за първи и единствен път са прекратени учебните занятия поради англо-американските бомбардировки над София
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li class="mb-3">
                                    <i class="fas fa-check-circle text-secondary me-2"></i>
                                    Рекорден брой ученици: 1622 през учебната 1949-1950 година
                                </li>
                                <li class="mb-3">
                                    <i class="fas fa-check-circle text-secondary me-2"></i>
                                    За 95-годишната си история училището е имало двадесет и един директора
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5" data-aos="fade-up">
        <div class="col-12">
            <h3 class="mb-4">Известни възпитаници</h3>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100 border-0 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Поети и творци</h5>
                            <ul class="list-unstyled">
                                <li class="mb-2">Христо Смирненски (1898 – 1923)</li>
                                <li class="mb-2">Илия Буржев (1931 – 2008)</li>
                                <li class="mb-2">Васил Найденов (р. 1950)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 border-0 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Политически дейци</h5>
                            <ul class="list-unstyled">
                                <li class="mb-2">Борис Велчев (1914 – 1995)</li>
                                <li class="mb-2">Тодор Божинов (1931 – 1992)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 border-0 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Инженери и специалисти</h5>
                            <ul class="list-unstyled">
                                <li class="mb-2">Георги Бранков (1913 – 1997), инженер и политик</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5" data-aos="fade-up">
        <div class="col-12">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h3 class="mb-4 text-center">Днес</h3>
                    <p>Преподавателският състав на гимназията се състои от висококвалифицирани специалисти-педагози, сред които има научни работници и преподаватели в УАСГ. Голяма част от преподавателите по общообразователните дисциплини са базови учители към СУ "Св. Климент Охридски".</p>
                    <p>Гимназията разполага с модерна база включваща:</p>
                    <div class="row g-4">
                        <div class="col-md-3 col-sm-6">
                            <div class="text-center">
                                <i class="fas fa-desktop fa-2x mb-2" style="color: #244855"></i>
                                <p>5 компютърни кабинета</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="text-center">
                                <i class="fas fa-tools fa-2x mb-2" style="color: #244855"></i>
                                <p>5 работилници за учебна практика</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="text-center">
                                <i class="fas fa-dumbbell fa-2x mb-2" style="color: #244855"></i>
                                <p>Физкултурен салон и фитнес</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="text-center">
                                <i class="fas fa-book fa-2x mb-2" style="color: #244855"></i>
                                <p>Библиотека</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/js/Home/FadeUp.js"></script>
}