@{
    ViewData["Title"] = "Мисия и визия";
}

@section Styles {
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
}

<div class="container py-5">
    <div class="text-center mb-5" data-aos="fade-up">
        <h1 class="text-uppercase fw-bold mb-3">Мисия и визия</h1>
        <div class="mx-auto" style="width: 60%; height: 2px; background-color: #E64833;"></div>
    </div>
    <div class="row gy-4">
        <div class="col-md-6" data-aos="fade-right">
            <div class="card h-100 border-0 shadow-sm">
                <div class="card-body p-4">
                    <div class="text-center mb-4">
                        <i class="fas fa-bullseye fa-3x" style="color: #244855"></i>
                        <h3 class="mt-3">Нашата мисия</h3>
                    </div>
                    <p class="text-center">Да подготвяме висококвалифицирани специалисти в областта на строителството, архитектурата и геодезията, които да притежават необходимите знания, умения и компетенции за успешна професионална реализация.</p>
                    <ul class="list-unstyled mt-4">
                        <li class="mb-3">
                            <i class="fas fa-check-circle me-2" style="color: #E64833"></i>
                            Качествено професионално образование
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-check-circle me-2" style="color: #E64833"></i>
                            Развитие на практически умения
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-check-circle me-2" style="color: #E64833"></i>
                            Формиране на професионални ценности
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6" data-aos="fade-left" data-aos-delay="100">
            <div class="card h-100 border-0 shadow-sm">
                <div class="card-body p-4">
                    <div class="text-center mb-4">
                        <i class="fas fa-eye fa-3x" style="color: #244855"></i>
                        <h3 class="mt-3">Нашата визия</h3>
                    </div>
                    <p class="text-center">Да бъдем водещо професионално училище, което създава бъдещите лидери в строителството и архитектурата, използвайки иновативни методи на обучение и модерна материална база.</p>
                    <ul class="list-unstyled mt-4">
                        <li class="mb-3">
                            <i class="fas fa-check-circle me-2" style="color: #E64833"></i>
                            Модерна образователна среда
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-check-circle me-2" style="color: #E64833"></i>
                            Иновативни методи на преподаване
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-check-circle me-2" style="color: #E64833"></i>
                            Партньорство с бизнеса
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 mt-5" data-aos="fade-up">
            <div class="card border-0 shadow-sm">
                <div class="card-body p-4">
                    <h3 class="text-center mb-4">Нашите ценности</h3>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="text-center">
                                <i class="fas fa-graduation-cap fa-2x mb-3" style="color: #244855"></i>
                                <h5>Професионализъм</h5>
                                <p>Стремим се към високи стандарти в образованието и обучението</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="text-center">
                                <i class="fas fa-handshake fa-2x mb-3" style="color: #244855"></i>
                                <h5>Отговорност</h5>
                                <p>Формираме отговорно отношение към професията и обществото</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="text-center">
                                <i class="fas fa-lightbulb fa-2x mb-3" style="color: #244855"></i>
                                <h5>Иновативност</h5>
                                <p>Насърчаваме креативното мислене и иновативните решения</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/js/Home/FadeUp.js"></script>
}